/.vscode
/__pycache__
/build
/eggholderfct.py
/main.cc
/numeric.cc
/numeric.h
/operations
/operations.cpp
/pi.py
/pi_archimedes.gif:Zone.Identifier
/test.cpp
/trisurf3d.py
/trisurf3d.py:Zone.Identifier
Kahan0.png
Kahan1.png
Kahan2.png
Kahan3.png
Kahan4.png
Kahan5.png
Kahan6.png
Kahan7.png
Kahan8.png
Kahan9.png
Kahan10.png
Kahan11.png
Kahan12.png
Kahan13.png
Kahan14.png
Kahan15.png
Kahan16.png
Kahan17.png
Kahan18.png
